.headerImage {
    /* background-image: url('./topMainImage.jpg'); */
    background-size: cover;
    height: 400px;
    background-color: grey;
}

.bottomHeaderInfo {
    position: relative;
    top:25%;
    margin-left: 20px;
    width: 30%;
}

.mainSectionInfo {
    height: 300px;
}

.InfoPart {
}

.infoImage {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.subMainSectionInfo {
    height: 400px;
}

.imgLogging {
    background-image: url('./loggingimage.jpg');
    background-size: cover;
}


.imgDietLogging {
    background-image: url('./dietLogging.avif');
    background-size: cover;
}

.imgPersonalTrainig {
    background-image: url('./personalTraining.avif');
    background-size: cover;
}

.imgOpenTwentyFourSeven {
    background-image: url('./chat247.png');
    background-size: cover;
}